<!-- add header page -->
<% include ./partials/header %>

<div class="container p-4 mt-5 rounded bg-light">
  <div class="row">
    <div class="col-sm">
      <h1 class="display-4">Authentication Boilerplate</h1>
      <p class="mt-5">Please <a href="/register">Register</a> or <a href="/login">Login</a> to continue.</p>
    </div>
  </div>
</div>

<!-- add header page -->
<% include ./partials/footer %>
