<!-- add header page -->
<% include ./partials/header %>

<div class="container p-4 mt-5 rounded bg-light">
  <form action="/register" method="POST">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="username" name="username" required />
    </div>
    <div class="form-group">
      <input class="form-control" type="password" placeholder="password" name="password" required />
    </div>
    <button class="btn btn-sm btn-primary" type="submit">Register</button>
  </form>
</div>
<!-- add header page -->
<% include ./partials/footer %>
