<!-- add header page -->
<% include ./partials/header %>

<div class="bg-light img-container">
  <a class="mx-auto" href="/logout">Logout</a>
  <img
    class=" mx-auto"
    src="https://images.unsplash.com/photo-1483706600674-e0c87d3fe85b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1082&q=80"
    alt="secret"
  />
</div>
<!-- add header page -->
<% include ./partials/footer %>
